<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiteu.training">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".teach2.PracticeActivity"
            android:label="@string/title_activity_practice"></activity>
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teach1.Teach1Activity" />
        <activity android:name=".teach2.Teach2Activity" />
        <activity android:name=".teach1.Demo1Activity" />
        <activity android:name=".teach1.Demo1FormActivity" />
        <activity android:name=".teach1.DataStorageActivity" />
        <activity android:name=".teach2.LifecycleActivity" />
        <activity android:name=".teach2.BindPhoneActivity" />
        <activity android:name=".teach2.MultiListActivity" />
        <activity android:name=".teach2.CustomViewGroupActivity" />
        <activity android:name=".teach4.Teach4Activity" />
        <activity android:name=".teach4.ThreadDemoActivity" />
        <activity android:name=".teach4.ThreadPollDemoActivity" />
    </application>

</manifest>